$borderColor: #e0e0e0;

@keyframes cardSlideUp {
	0% {
		transform: scale(0.98) translateY(10%);
		opacity: 0;
	}
	50% {
		transform: scale(0.98) translateY(5%);
		opacity: 0.5;
	}
	100% {
		transform: scale(1) translateY(0%);
		opacity: 1;
	}
}

@keyframes popoverSlideUp {
	0% {
		opacity: 0;
		margin-top: 10px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}

@keyframes avatarContainerMoveIn {
	0% {
		margin-left: -43px;
	}
	100% {
		margin-left: 0px;
	}
}

@keyframes avatarAppear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.nexment-popover-container {
	background: #fff;
	font-family: sans-serif;
	z-index: 102;
	border-radius: 5px;
	box-shadow:
		0 0 2px rgba(0, 0, 0, 0.12),
		0 8px 16px rgba(0, 0, 0, 0.14);
	animation: forwards 0.2s cubic-bezier(0.1, 0.9, 0.2, 1) popoverSlideUp;
}

.nexment-emoji-container {
	max-height: 240px;
	overflow: hidden;
	display: flex;

	.nexment-emoji-section {
		max-height: 240px;
		overflow: hidden;

		&:nth-child(1) {
			border-right: 1px solid $borderColor;
		}

		.nexment-emoji-section-header {
			border-bottom: 1px solid $borderColor;
			padding: 5px 0px;
			text-align: center;

			b {
				font-size: 15px;
				color: #242424;
				letter-spacing: 0.5px;
				font-weight: 500;
			}
		}

		.nexment-emoji-section-box {
			max-height: 205px;
			overflow: hidden;
			overflow-y: auto;
			-webkit-mask-image: linear-gradient(
				180deg,
				transparent,
				#000 10px,
				#000 95%,
				transparent
			);
			mask-image: linear-gradient(
				180deg,
				transparent,
				#000 10px,
				#000 95%,
				transparent
			);

			.nexment-emoji-section-container {
				display: grid;
				width: 200px;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(3, 1fr);
				grid-column-gap: 0px;
				grid-row-gap: 0px;
				padding: 5px 10px;

				span {
					background: #f5f5f5;
					border-radius: 4px;
					margin: 2px;
					padding: 3px 0px;
					white-space: nowrap;
					overflow: hidden;
					text-align: center;
					cursor: pointer;
					transition: all 0.1s ease-in-out;

					&:hover {
						background: #ebebeb;
					}
				}
			}
		}
	}
}

.nexment-popover {
	font-family: sans-serif;

	.nexment-popover-title {
		border-bottom: 1px solid $borderColor;
		padding: 5px 0px;
		text-align: center;

		b {
			font-size: 15px;
			color: #242424;
			letter-spacing: 0.5px;
			font-weight: 500;
		}
	}

	.nexment-popover-content {
		display: flex;
		flex-direction: column;
		padding: 10px 15px 15px 15px;
		max-width: 250px;
		row-gap: 12px;
		font-size: 14px;

		p {
			margin: 0;
			padding: 0;
			line-height: 1.3;
			color: #424242;
			letter-spacing: 0.1px;
			margin-bottom: 0px;
		}

		input {
			width: 100%;
			box-sizing: border-box;
			flex: 1;
			border-radius: 3px 0px 0px 3px;
			padding: 0px 10px;
			border: 1px solid #cfd1d2;
			color: #242424;
			letter-spacing: 0.1px;
			outline: none;
		}

		button {
			background: #0f6cbd;
			cursor: pointer;
			color: #fff;
			border: none;
			padding: 8.5px 15px;
			letter-spacing: 0.2px;
			border-radius: 0px 3px 3px 0px;
			margin-left: -1px;
			transition: all 0.2s ease-in-out;

			&:focus,
			&:active {
				outline: none;
				background: #0c3b5e;
			}

			&:hover {
				background: #115ea3;
				svg {
					transform: translateX(2px);
				}
			}
		}

		.nexment-tag-button {
			padding: 6.2px 15px 7.2px 15px;
		}

		.nexment-popover-input {
			display: flex;
		}
	}
}

.nexment-comment-area-container {
	display: flex;
	flex-direction: column;
	row-gap: 16px;
	color: #242424;

	.nexment-comment-area-replying-to {
		display: flex;
		box-shadow:
			rgba(0, 0, 0, 0.12) 0px 0px 2px,
			rgba(0, 0, 0, 0.14) 0px 1px 2px;
		border-radius: 5px;
		animation: forwards 0.5s ease-in-out cardSlideUp;
		margin: 0 5px;
		background: #ffffff;

		&-info {
			flex: 1;
		}

		&-header {
			display: flex;
			column-gap: 6px;
			align-items: center;
			border-bottom: 1px solid $borderColor;
			padding: 6px 12px;
			font-size: 14px;
			color: #242424;
			letter-spacing: 0.5px;
			font-weight: 500;

			svg {
				width: 16px;
				height: 16px;
			}
		}

		&-content {
			padding: 10px 13px;
			font-size: 14px;
			word-break: break-all;

			p {
				margin: 0;
				color: #424242;
			}

			pre,
			code,
			img {
				display: none;
			}
		}

		&-cta {
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.1s ease-in-out;
			cursor: pointer;
			border-left: 1px solid $borderColor;
			padding: 0 4px;

			&:hover {
				background: #f5f5f5;
			}

			button {
				cursor: pointer;
				background: none;
				border: none;
				color: #606060;
			}

			svg {
				height: 18px;
				width: 18px;
				padding: 0;
				margin: 0;
				margin-top: 2px;
			}
		}
	}

	.nexment-comment-area {
		border: 1px solid $borderColor;
		border-radius: 5px;
		margin-bottom: 15px;
		box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

		.nexment-comment-area-top {
			display: flex;
			border-radius: 4px 4px 0px 0px;
			height: 34px;
			overflow: hidden;
			background: #ffffff;

			&-name-avatar {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 0px;
				padding-left: 11px;
				padding-right: 11px;
				border-right: 1px solid $borderColor;
				border-bottom: 1px solid $borderColor;
				animation: forwards 0.5s cubic-bezier(0.1, 0.9, 0.2, 1)
					avatarContainerMoveIn;
				transition: all 0.1s ease-in-out;

				&:hover {
					background: #f5f5f5;

					img {
						border-color: #d1d1d1;
					}
				}

				&:active {
					background: #e0e0e0;
				}

				img {
					flex-shrink: 0;
					height: 18px;
					width: 18px;
					border-radius: 50%;
					border: 1px solid $borderColor;
					animation: forwards 0.5s cubic-bezier(0.1, 0.9, 0.2, 1) avatarAppear;
				}
			}

			&-name-input {
				input {
					border-radius: 5px 0px 0px 0px !important;
				}
			}

			input {
				flex: 1;
				width: 100%;
				border-color: unset;
				border-style: unset;
				border-radius: 0px;
				font-family: sans-serif;
				padding: 8px 12px;

				&:focus {
					outline: none;
				}

				&:nth-child(1) {
					border-radius: 5px 0px 0px 0px;
				}

				border-right: 1px solid $borderColor;
				border-bottom: 1px solid $borderColor;

				&:last-child {
					border-right: none;
					border-radius: 0px 5px 0px 0px;
				}

				&:focus-within {
					border-bottom: 1px solid #0f6cbd;
				}
			}
		}

		.nexment-comment-area-middle {
			display: flex;
			position: relative;
			background: #ffffff;

			&-progress-bar {
				width: 0%;
				transition: width 0.1s ease-in-out;
				position: absolute;
				height: 1px;
				background: #0f6cbd;
				z-index: 1;
				top: -1px;
			}

			textarea {
				flex: 1;
				line-height: 1.5;
				padding: 10px 12px;
				border-color: unset;
				border-style: unset;
				border-radius: 0px;
				width: 50%;
				font-family: sans-serif;
				font-size: 14px;
				resize: none;
				min-height: 130px;

				&:focus {
					outline: none;
				}
			}

			.nexment-previewing {
				border-left: 1px solid $borderColor;
			}

			.nexment-md-preview {
				flex: 1;
				padding: 11px 12px 10px 12px;
				font-size: 14px;
				width: calc(50% - 24px);
				font-family: sans-serif;
				min-height: 130px;
				height: 100%;
				background: #ffffff;
			}
		}

		.nexment-comment-area-bottom {
			display: flex;
			border-top: 1px solid $borderColor;

			.nexment-comment-area-toolbar {
				display: flex;
				align-items: center;
				flex: 2;
				padding-left: 5px;
				white-space: nowrap;
				column-gap: 3px;
				background: #ffffff;
				border-radius: 0px 0px 5px 5px;

				b {
					display: none;
				}

				.nexment-replying {
					background: #f1f2f3;
					border-radius: 3px 3px 3px 5px;
					border: 1px solid $borderColor;
					padding: 4px 5px 0px 4px;
					margin-right: 10px;
					transform: translateY(-1.5px);

					svg {
						height: 16px;
					}

					em {
						font-style: normal;
						color: #8491a6;
						font-size: 14px;
						display: inline-block;
						transform: translateY(-3.3px);
						margin-left: 2px;
					}

					&:hover {
						b {
							display: inline-block;
							margin-left: 2px;
							margin-right: -2px;
						}
					}
				}

				button {
					background: transparent;
					border: none;
					padding: 6px 6px 3px 6px;
					cursor: pointer;
					color: #707070;
					transition: background 50ms ease-in-out;

					a {
						text-decoration: none;
						color: inherit;
					}

					&:focus {
						outline: none;
					}

					&:hover {
						background: #f5f5f5;
					}

					&:active {
						background: #e0e0e0;
					}
				}
			}

			.nexment-comment-area-submit {
				flex: 1;

				button {
					cursor: pointer;
					border: none;
					border-radius: 0 0 5px 0;
					color: #fff;
					background: #0f6cbd;
					font-size: 15px;
					height: calc(100% + 1px);
					width: calc(100% + 1px);
					margin-top: -1px;
					margin-right: -1px;
					padding: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					column-gap: 1px;
					transition: all 0.1s ease-in-out;

					svg {
						width: 18px;
						height: 18px;
						transition: all 0.2s ease-in-out;
					}

					@keyframes spin {
						0% {
							transform: rotate(0deg);
						}
						100% {
							transform: rotate(360deg);
						}
					}

					.nexment-spinner {
						display: flex;
						align-items: center;
						justify-content: center;
						animation: spin 0.75s linear infinite;
					}

					&:disabled {
						background: #bdbdbd !important;
						cursor: not-allowed;

						.nexment-spinner {
							svg {
								transform: none !important;
							}
						}
					}

					&:focus,
					&:active {
						outline: none;
						background: #0c3b5e;
					}

					&:hover {
						background: #115ea3;

						svg {
							transform: translateX(2px);
						}

						.nexment-spinner {
							svg {
								transform: none;
							}
						}
					}
				}
			}
		}
	}
}

@import "github-markdown-css/github-markdown-light.css";

.markdown-body {
	font-size: 14px;
}
