$desColor: #777;
$titleColor: #202f3a;
$black: #282829;
$grey: #636466;
$greyerGrey: #949494;

.nexment-admin-badge {
	text-align: center;
	background: #d6e2ff;
	border-radius: 50%;
	width: 13px;
	height: 12px;
	align-items: center;
	justify-content: center;
	display: flex;
	right: -1px;
	top: 24px;
	padding: 0.5px 0;
	position: absolute;
	box-shadow: -1px -1px 3px 1px #fff;
}

.nexment-comments-list {
	list-style: none;
	padding: 0px;
}

.nexment-comments-reply-list {
	margin-left: 60px;
	list-style: none;
	padding-left: 10px;
	margin-top: -10px;
	margin-bottom: 15px;
	border-left: 2px solid #eee;
	.nexment-comments-div {
		padding: 8px 10px;
		margin-bottom: 8px;
		margin-right: 15px;
		border-bottom: 1px solid transparent;
		border-radius: 0;

		&:hover {
			border-color: #e5e5e5;
		}
	}
	.nexment-comments-list-item-div {
		&:last-child {
			.nexment-comments-list-item {
				border: none;
			}
		}
	}
	.nexment-comments-list-item-div-inner {
		&:first-child {
			margin-top: 10px;
		}
	}
	.nexment-comments-list-item {
		padding-right: 15px;
		margin: -2px 0px 9px 0px;
		.nexment-reply-icon-reply {
			display: none;
		}
	}
}

$borderColor: #e8e8e8;

.nexment-reply-container {
	.nexment-reply-primary {
		border: 1px solid $borderColor;
		border-radius: 4px;
		margin-bottom: 18px !important;
	}
	.nexment-comments-div {
		transition: ease-in-out 0.1s;
		cursor: pointer;
		.nexment-comments-content {
			border: none !important;
			padding: 0 !important;
		}
		&:hover {
			background: #f7f8f9;
		}
	}
	.nexment-comments-list-item-div {
		transition: ease-in-out 0.1s;
	}
	.nexment-comments-list-item {
		.nexment-comments-reply-list {
			.nexment-comments-div {
				margin-top: 5px;
				margin-bottom: 5px;
			}
		}
		&:hover {
			background: #f7f8f9;
			background: transparent !important;
		}
	}
}

.nexment-comments-list-item {
	@media screen and (min-width: 1000px) {
		padding-right: 0px !important;
	}
	margin: -2px 0px 5px 0px;
	transition: ease-in-out 0.1s;

	.nexment-reply-icon {
		display: none;
	}
}

.nexment-comments-div {
	display: flex;
	column-gap: 10px;
	padding: 10px 15px 10px 10px;
	margin-bottom: 10px;
	border-radius: 4px;
	overflow: hidden;
	transition: ease-in-out 0.1s;

	&:hover {
		.nexment-reply-icon-reply {
			cursor: pointer;
			position: absolute;
			border: none;
			background: none;
			color: $greyerGrey;
			display: flex !important;
			top: 2px;
			right: 4px;
			align-items: center;
			column-gap: 4px;
			padding: 0;
			transition: color 0.1s ease-in-out;

			&:hover {
				color: $grey;
			}
		}
		.nexment-reply-icon {
			cursor: pointer;
			position: absolute;
			border: none;
			background: none;
			color: $greyerGrey;
			display: flex !important;
			top: 2px;
			right: 4px;
			align-items: center;
			column-gap: 4px;
			padding: 0;
			transition: color 0.1s ease-in-out;

			&:hover {
				color: $grey;
			}
		}
	}

	.nexment-comments-replyto {
		span {
			color: #949494 !important;
		}

		button {
			padding: 0;
			border: none;
			background: none;
			color: #0080ff !important;
			cursor: pointer;

			&:hover {
				color: #0066cc !important;
			}

			svg {
				display: inline-block;
				transform: translateY(4px);
			}
		}
	}

	.nexment-comments-avatar {
		display: flex;
		align-items: flex-start;
		position: relative;
		flex-shrink: 0;

		img {
			width: 36px;
			height: 36px;
			border-radius: 50%;
			box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
			border: 1px solid #e5e5e5;
		}
	}

	.nexment-comments-title {
		width: 100%;
		display: flex;
		flex-direction: column;
		row-gap: 2px;

		h5 {
			margin: -1px 0px 2px 0px;
			font-size: 15px;
			letter-spacing: 1;
			color: $titleColor;
			font-family: sans-serif;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			position: relative;

			b {
				letter-spacing: 0.5px;
				color: $greyerGrey;
				font-weight: 400;
				font-size: 13px;
			}

			span {
				color: $greyerGrey;
			}

			a {
				text-decoration: none;
				display: inline-block;
				color: $grey;

				svg {
					transform: translateY(1.5px);
					width: 13px;
					height: 13px;
				}
			}
		}

		.nexment-comments-des {
			color: $grey;
			margin: 0px 0px 0px 0px;
			font-size: 13px;
			max-width: 90%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		.margin-top {
			margin-top: 0px !important;
		}

		.margin-top-reply {
			margin-top: -1px !important;
			border: none !important;
			padding: 0 !important;
		}

		.nexment-comments-content {
			margin: 8px 0px 0px 0px;
			color: $black;
			letter-spacing: 0.2px;
			font-size: 14px;
			border: 1px solid #e5e5e5;
			border-radius: 5px;
			padding: 10px;
			word-break: break-all;

			p {
				margin: 0px;
				color: #333;
			}

			a {
				color: #0180ff;
			}

			img {
				max-width: 50%;
				border-radius: 4px;
				margin: 5px 0px;
			}

			pre {
				border: 1px solid #eee;
				background: #f5f8fa;
				padding: 5px 10px;
				margin: 5px 0px;
				border-radius: 4px;
				width: fit-content;
			}
		}
	}
}

.nexment-loading {
	margin: 20px 0px;
}

.nexment-loading-index {
	margin: 25px 0 0 0;
	padding: 0 15px 0 10px;
}

.nexment-header {
	display: flex;
	border-bottom: 1px solid #eee;
	padding: 0px 5px 7px 5px;
	margin-bottom: -10px;
	margin-top: 20px;
	h1 {
		margin: 0px;
		font-size: 16px;
		color: #555;
		font-weight: 500;
	}
	p {
		margin: 0px;
		transform: translateY(2.5px);
		color: #8491a6;
		font-size: 10px;
		a {
			color: inherit;
			text-decoration: none;
		}
	}
	div:nth-child(1) {
		flex: 1;
	}
}

.nexment-empty {
	text-align: center;
	padding: 20px 0px;
	p {
		margin: 0px;
		color: #8392a6;
	}
	.nexment-error {
		margin-top: 30px;
		border: 1px solid #dfe2e5;
		p:nth-child(1) {
			border-bottom: 1px solid #dfe2e5;
			padding: 5px 0px;
			font-weight: 500;
			background: #f7f8f9;
		}
		p:nth-child(2) {
			padding: 10px;
			a {
				color: #8392a6;
				font-weight: 500;
			}
		}
	}
}

.nexment-inner-reply-list {
	border-left: 2px dashed #eee !important;
	margin-top: -5px;
	.nexment-reply-icon-reply {
		display: none !important;
	}
	.nexment-comments-replyto {
		display: none;
	}
}

.nexment-comments-div-with-replies {
	margin-bottom: 1px !important;
	padding-bottom: 10px !important;
}

@media screen and (max-width: 1000px) {
	.nexment-comments-reply-list {
		margin-left: 10px !important;
	}
}

@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
		background: #f1f2f3;
	}
	100% {
		opacity: 1;
	}
}

.nexment-flash {
	.nexment-comments-div {
		animation: forwards 2s ease-in-out flash;
		border-radius: 5px;
	}
}
